{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <div class="w-50 container-fluid">
        <h3 class='text-center'>Create new Student</h3>
        {{ include('student/_form.html.twig') }}
        <a class='btn btn-dark mt-3' href="{{ path('app_project_index') }}">back to list</a>
    </div>
{% endblock %}
